body {
  background-color: #002547;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('images/cyberpattern.png');
  background-repeat: repeat;
  background-blend-mode: soft-light;
  margin: 0;
}

header {
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 20px;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: rgba(51, 51, 51, 0.3);
  color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  border: none;
  padding: 30px;
}

th {
  font-family: 'Ranade', sans-serif;
  font-weight: 500;
  color: #ffffff;
}

td {
  text-align: center;
  padding: 10px;
  border: 1px solid #555555;
  font-family: 'Sentient', serif;
  font-weight: 800;
}

th:nth-child(3),
td:nth-child(3) {
  color: #e93535;
}

th:nth-child(4),
td:nth-child(4) {
  color: #a7ff19;
}

th:nth-child(5),
td:nth-child(5) {
  color: #389fff;
}

th:nth-child(6),
td:nth-child(6) {
  color: #119100;
}

th:nth-child(7),
td:nth-child(7) {
  color: #60e0f1;
}

img {
  width: 60px;
  height: auto;
  display: block;
  margin: 0 auto;
}

input {
  padding: 8px;
  font-size: 16px;
  background-color: rgba(66, 67, 73, 0.6);
  font-family: 'Sentient', serif;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid #777777;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
}

.search {
  margin-left: 190px;
  width: 100px;
  color: white;
  transition: 0.2s;
  border: none;
}

.search:hover {
  width: 110px;
}

.search:focus {
  width: 210px;
  border: none;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  table {
      width: 90%;
  }

  .search {
      margin-left: 0;
      width: 100%;
  }
}

/* Add this new style for the banner slideshow container */
#banner-slideshow-container {
  height: 200px;
  overflow: hidden;
  margin-bottom: 100px;
  transition: opacity 0.1s;
}

#banner-slideshow-container:hover {
  opacity: 0.8;
}

#banner-slideshow-container:active {
  opacity: 0;
}

/* Add this new style for the banner slideshow */
.banner-slide {
  width: auto;
  max-width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

/* Navigation bar styles */
.navbar-container {
  background-color: #444141;
  text-align: center;
}

.navbar-container img {
  width: 30px;
  height: auto;
  margin: 10px;
  filter: grayscale(100%) brightness(100%);
  transition: filter 0.3s;
}

.navbar-container img:hover {
  filter: none;
}
